{% comment %}
<section class="section dark-section">
	<div class="row">
		<div class="medium-12 medium-centered columns">
			<div class="row">
				<div class="medium-6 columns">
					<h1>H1. Heading 66px</h1>
					<h2>H2. Heading 48px</h2>
					<h3>H3. Heading 32px</h3>
					<h4>H4. Heading 24px</h4>
					<h5>H5. Heading 18px</h5>
					<h6>H6. Heading 18px</h6>
				</div>
				<div class="medium-6 columns">
					<h2 class="subheader">H2. Subheader 48px</h2>
					<h3 class="subheader">H3. Subheader 32px</h3>
					<h4 class="subheader">H4. Subheader 24px</h4>
					<h5 class="subheader">H5. Subheader 18px</h5>
					<h6 class="subheader">H6. Subheader 18px</h6>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="columns">
					<h1>The Quick Brown Fox Jumps Over the Lazy Dog 66px <small>Small Text</small></h1>
					<h2>The Quick Brown Fox Jumps Over the Lazy Dog 48px</h2>
					<h3>The Quick Brown Fox Jumps Over the Lazy Dog 32px</h3>
					<h4>The Quick Brown Fox Jumps Over the Lazy Dog 24px</h4>
					<h5>The Quick Brown Fox Jumps Over the Lazy Dog 18px</h5>
					<h6>The Quick Brown Fox Jumps Over the Lazy Dog 18px</h6>
				</div>
			</div>
		</div>
	</div>
</section> <!-- .dark-section -->
{% endcomment %}

{% comment %}
<section class="section dark-section text-center">
	<div class="row">
		<div class="columns">
			<h2>Let's Talk About Responsive Design</h2>
		</div>
	</div>
	<div class="row">
		<div class="medium-7 medium-centered columns">


			<h3>It's Deceptively Difficult</h3>

			<h4 class="subheader">He's right basil!</h4>

			<p>What does a <strong>strong statement</strong> look like? Or perhaps a <b>bold</b> one</p>

			<p>What does an <em>Italicized text</em> look like? And one wrapped in <i>Italics</i></p>

			<ul class="text-left">
				<li>Example 1</li>
				<li>Example 2</li>
				<li>Example 3</li>
				<li>Example 4</li>
			</ul>

			<p class="lead">In the BOLD <b>BOLD</b> ITALIC <i>ITALIC</i> of 2013, Jon Lax met up with Harry DeMott of Raptor Ventures. They didn’t have a strict agenda for their conversation, and spoke at length about a range of topics. </p>

			<p class="lead"><strong>In the BOLD <b>BOLD</b> ITALIC <i>ITALIC</i> of 2013, Jon Lax met up with Harry DeMott of Raptor Ventures. They didn’t have a strict agenda for their conversation, and spoke at length about a range of topics. </strong></p>

			<p><strong><em>Italics in bold please?</em></strong> Yes okay.</p>

			<p>Hey, <strong>Mitch</strong> here. Liquid Visual is my business. I specialise in responsive web development here in Sydney. I work with Agencies mostly, and their #01 problem is outsourcing overseas. The quality of work is shit, code is a mess and nothing is maintainable.</p>

			<h3>Why Is It So Hard to Do?</h3>
			<p>Because responsive design is hard, first and foremost. These offshore businesses are dealing with hundreds of clients and the developers aren't being paid enough, so you end up with a dodgy end-product and a lame user experience.</p>

			<p>I build responsive websites exclusively and I have a deep understanding of the best techniques and methods. I also code everything through a static site generator which enables me to lay out templates (with proper inheritance) so back-end devs can integrate with their systems smoothly. This saves everyone time.</p>

		</div>
	</div>
</section> <!-- .dark-section -->
{% endcomment %}