/*
    HEADER.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$logo-width-small: rem-calc(150);
$logo-width-medium: rem-calc(215);

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	position: absolute;
	top: rem-calc(30);
	width: 100%;
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.global-header .logo {
	position: relative;
	z-index: 10;

	img {
		width: $logo-width-small;

		@media #{$medium-up} {
		    width: $logo-width-medium;
		}
	}
}

//=========================================
//
//=========================================

//-----------------------------------------------------------------
// Hamburger Wrapper Pasted from Baggio, replace
//-----------------------------------------------------------------

.header-mobile-menu {
	position: absolute;
	top: 17px; // looks right
	right: 15px;

	@media #{$medium-up} {
		position: fixed;
	    right: 30px;
	    top: 30px;
	    padding: rem-calc(4 4 8 4);
	    border-radius: $global-radius;
	}
}

.global-header .hamburger {
	@include hamburger($width: 25px, $gap: 6px, $thickness: 2px, $color: $primary-color);

	@media #{$medium-up} {
	    @include hamburger($width: 30px, $gap: 6px, $thickness: 3px, $color: $primary-color);
	}
}