---
layout: master
---
{% comment %}
{% assign settings = site.data.settings %}

<!-- HERO -->
<div class="lv-hero">
    <div class="row outer-row">
        <div class="medium-8 medium-centered columns">
            <div class="lv-hero-caption animated fadeInLeft">
                <!-- <h1>I Build Quality Websites <br> for Agencies</h1> -->
                <h1>I Build Websites for Agencies</h1>
                <h2 class="subheader">Give your clients more</h2>
                <!-- <h2 class="subheader">Better Service + Cleaner Code</h2> -->
                <!-- <h2 class="subheader"></h2> -->
            </div>
        </div>
    </div>
    <div class="lv-hero-down-button">
    	<a href="#"><i class="fa fa-angle-down"></i></a>
    </div>
</div> <!-- .hero -->

{% include snippets/breadcrumbs.html %}



<!-- HOMEPAGE CONTENT HERE -->

<section class="section dark-section">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<h2>H2. Why is it So Hard to Find a Reliable Outsource for Front-end Web Development?</h2>
			<p>Don't worry, I hear ya sister. I'll tell you why - because responsive web design is fucking hard you moron. God, fucking internet I can't zcant' it osd red rum red rum.</p>
			<p><a class="button">Fuck Yeah Bitch</a></p>
			<hr>
		</div>
	</div>
</section>

{% endcomment %}

<section class="section light-section">
	<div class="row">
		<div class="medium-8 medium-centered columns text-center">
			<h2>H2. Why Do Others Fail?</h2>
			<h3>H3. It's awful out there...</h3>
			<p class="lead">LEAD. Because responsive design is hard, first and foremost. These offshore businesses are dealing with hundreds of clients and the developers aren't being paid enough, so you end up with a dodgy end-product and a lame user experience.</p>

			<div class="divider">
				<span class="text">This is a divider class</span>
			</div>

			<p>I build responsive websites exclusively and I have a deep understanding of the best techniques and methods. I also code everything through a static site generator which enables me to lay out templates (with proper inheritance) so back-end devs can integrate with their systems smoothly. This saves everyone time.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</section>

{% comment %}

<section class="section dark-section">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<h2>H2. How I Can Help You</h2>
			<h3 class="subheader">H3-sb. Well Bond we Meet Again..</h3>

			<ul class="medium-block-grid-2 smaller-text">
				<li>
					<h4 class="subheader">H4. Quality Consulting</h4>
					<p>Project managers often use me as their go-to consultant for anything web related. This is free - I don't charge for emails. My communication is concise, well thought out and clear. If there's something I'm unsure of, I'll research it and actually get back to you.</p>
				</li>
				<li>
					<h4 class="subheader">H4. PSD to Responsive Builds</h4>
					<p>I help agencies build websites from a single PSD - often the product of a crowd sourcing website like 99 designs or Crowdspring. With the advantage of a previous design background I'm able to interpret a single static homepage and create a complete styleguide with multiple consistent inner pages that are all responsive.</p>
				</li>
				<li>
					<h4 class="subheader">H4. Client Communication</h4>
					<p>I help project managers communicate with their clients on technical concerns through clear, well argued emails and ad-hoc demos. I realise in most cases that emails from you are originally words from the client, so I write everything with that in mind so you can reuse my words directly.</p>
				</li>
				<li>
					<h4 class="subheader">H4. The Designer Goes M.I.A</h4>
					<p>Often I'll receive graphics that are photocopied, low resolution, or the designer is M.I.A. These could be logos, infographics or various other bits and bobs that aren't usable in their current state. Rather than hiring a new designer, I can rebuild those graphics (or template files) and make them responsive to boot.</p>
				</li>
				<li>
					<h4 class="subheader">H4. Marketing Materials <small>(Coming Soon)</small></h4>
					<p>I'll soon be able to provide you with valuable materials to help convince your clients to purchase responsive websites. Making us both money. Marketing responsive websites is hard, because to most (normal) people it's abstract boring techno-babble and non tech-savvy clients won't give two cents - why should they? I'll help you talk revenue with them, which they'll actually hear.</p>
				</li>
			</ul>
		</div>
	</div>

</section> <!-- .dark-section -->

<section class="section light-section smaller-text image-section is-fixed is-dark" style="background-image: url(/img/content/banner-3.jpg);">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<h2>H2. For Everything Else You Need a Wolf</h2>

			<p>If you're familiar with Pulp Fiction, you may remember the famous scene where Harvey Kieitel ("The Wolf") is summoned to fix a horrible problem. Namely one which involves the strategic removal of brain matter from the backseat of a car. He is a "fixer" and he solves problems. Now.. while I'm not advocating that I assist in the disposal of dead gangsters (sorry), many front-end problems are ugly, messy and downright gruesome even. Some poorly coded websites may as well be considered crime scenes. In situations where the problem may be too obscure for any one person to deal with, you need someone willing to get their hands dirty...</p>

			<p>You need a front-end <strong>WOLF</strong>.</p>

			<p><a class="button">Let's do it</a></p>
		</div>
	</div>
</section>

<section class="section color-section">
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<h2>H2. IT'S TIME TO GET
RESPONSIVE DEVELOPMENT RIGHT</h2>

			<p>Hire me for a project and I'll make your life easier. I care about my clients just as you care for your customers. I'm currently accepting partnerships with a limited number of agencies so if you're after a reliable front-end developer, consultant and responsive web specialist I'm your guy.</p>

			<p><a class="button">Let's Clean Up</a></p>
		</div>
	</div>
</section>

{% endcomment %}
