/*
    BREADCRUMBS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.lv-breadcrumbs {
	// background: #1E1E22;
	padding: rem-calc(30 0 0 0);
	font-family: $font-family-serif;
	font-size: $h5-font-size;
}

.lv-breadcrumbs-wrapper {
	// background: white;

	.divider {
		margin-top: rem-calc(10);
	}
}


//=========================================
//
//=========================================